
.body{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* background-image: url('assets/1.jpg');
    background-repeat: round;
    background-attachment: fixed; */
}

.body-pic{
    height: 40%;
    width: 100%;
}
.body-content{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}